<h1>Sign Up</h1>

<div>
  <div>NAME</div>
  <div>EMAIL</div>
  <div>PASSWORD</div>
  <div>
    <div>SIGN UP</div>
    <div>Alredy have an account? <a href="<%= login_path %>">Log in</a></div>
  </div>
</div>